#upper-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.topScore, .botScore {
    align-self: center;
    margin-top: 5%;
}

body {
    text-align: center;
}

#lower-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.boxes {
    margin-top: 27px;
}

.dice {
    width: 30%;
    border: 3px solid white;
}

/* #second-die {
    border: 10 solid black;
} */

.dice:hover {
    border: 3px solid yellow;
    border-radius: 13px;
}

.saved img {
    border: 3px solid green;
    border-radius: 13px;
}

#dice {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* align-content: right; */
    margin-bottom: 20px;
    margin-top: 10px;
}